/* -----------------------------------------------------------------
    - Contact
----------------------------------------------------------------- */ 

.contact-form {
  .btn {
    @media only screen and (max-width: $medium) {
	    width: 100%;
	  }
  }
  
  .tabcontent & {
    padding-bottom: rem(30px);
	
  	@media only screen and (max-width: $small) {
	    padding-bottom: rem(20px);
	  }
  }
}

// Map
.map {
  border-radius: var(--radius-16);
  height: rem(380px);
  margin-bottom: rem(32px);
  position: relative;
  direction: ltr;
  
  @media only screen and (max-width: $small) {
    height: rem(250px);
  }
}

.popover-map {
  &-title {
    color: var(--color-surface-1);
    font-size: rem(19px);
	  margin-top: rem(1px);
  	margin-bottom: rem(8px);
  }
  
  &-caption {
    color: var(--color-surface-1);
  }
}

// Mapbox
#marker {
  background-image: url('../images/icon-map-pic.svg');
  background-size: cover;
  width: rem(60px);
  height: rem(60px);
  cursor: pointer;

  @media only screen and (max-width: $small) {
    width: rem(40px);
    height: rem(40px);
  }
}

.mapboxgl-popup-content {
  background: var(--color-surface-2)!important;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-8)!important;
  box-shadow: var(--box-shadow-30)!important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: var(--color-border)!important;
}

.mapboxgl-popup-close-button {
  color: var(--color-heading);
}