/* -----------------------------------------------------------------
    - Other
----------------------------------------------------------------- */ 

// Bact to top
.back-to-top {
  border-top: 1px solid var(--color-accent);
  border-left: 1px solid var(--color-accent);
  cursor: pointer;
  height: rem(24px);
  opacity: .5;
  @include position(fixed, $right: rem(40px), $bottom: rem(30px));
  width: rem(24px);
  transform: rotate(45deg);
  transition: opacity .35s ease-out;
  z-index: 10;
  
  &:hover {
    opacity: 1;
  }
  
  @media only screen and (max-width: $medium) {
    height: rem(24px);
	  width: rem(24px);
  }
  
  @media only screen and (max-width: $small) {
    display: none!important;
  }
}

.js-lines {
  overflow: hidden;
  
  div {
    overflow: hidden;
  }
}

.js-words div div {
  opacity: 0;
}

// Medium Zoom
.medium-zoom-overlay {
  background: var(--color-surface-1)!important;
  z-index: 1104;
}

.medium-zoom-image {
  cursor: pointer!important;
  z-index: 1104;
  
  &--opened {
    border-radius: rem(1px);
	  height: 100%;
  }
}
